.containerAbout {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  padding-bottom: 20px;

  .headerAbout {
    font-size: 30px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: rgb(0, 1, 41);
    margin-top: 10px;
    margin-left: 10px;
  }

  .miniHeaderAbout {
    font-size: 17px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: rgb(0, 1, 41);
    margin-top: 10px;
    margin-left: 10px;
  }

  .textAbout {
    font-size: 13px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: rgb(0, 1, 41);
    margin-top: 15px;
    margin-left: 10px;
    width: 80%;
  }

}